@model List<AlimentosTFOQ.Models.GrupoProdutoModel>
@{
    ViewBag.Title = "Cadastro de Grupo de Produto";
}
<style>
    #grid_cadastro > thead > tr th:nth-child(2) {
        width: 110px;
    }

    #grid_cadastro > thead > tr th:nth-child(2) {
        width: 200px;
    }

    #cadastro {
        width: 70%;
        margin: 0 auto;
    }

    #cadastro_cabecalho {
        border-bottom: 1px #dddddd solid;
    }

    #cadastro_conteudo {
        margin-top: 20px;
    }

    #cabecalho_grid {
        margin-bottom: 20px;
    }
</style>
<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="cadastro_conteudo">
        <div id="cabeçalho_grid" class="row">

            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-12">

                    </div>
                    <table id="grid_cadastro" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Ativo</th>
                                <th>Alterar</th>
                                <th>Excluir</th>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>SIM</td>
                                <td><button class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</button></td>
                                <td><button class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i>Excluir</button></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>samia</td>
                                <td>SIM</td>
                                <td><button class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</button></td>
                                <td><button class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i>Excluir</button></td>

                            </tr>

                        </thead>

                    </table>

                    <a id="btn_incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i> incluir</a>

                </div>

            </div>

        </div>

    </section>
</div>
@section scripts{
    <script>
        $(document).on('.click', '#btn_incluir', function ().alert('1'); {

        }
    </script>
}



